version: "3.8"

services:

  backend:
    build: .
    container_name: backend
    ports:
      - "3000:3000"
    environment:
      - MINIO_ENDPOINT=minio
    depends_on:
      - minio
  minio:
    image: minio/minio
    container_name: minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data

volumes:
  minio_data:
